@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-family: 'Poppins',sans-serif;
    color:#394867;
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}



/* navbar */
header{
    height: 10vh;
    margin-bottom: 5rem;
}
.head-item{
 color: #394867;
 text-decoration: none;
 padding:0  1rem;
 margin: 0 1rem;
}
a:hover{
    color:#9BA4B5 ;
}

/* profile and Title section */


.profile{
    opacity: 80%;
    height: 300px;
    border-radius:15px;
}

.profile-left{
    text-align: center;
    padding:3rem;
}

.profile-right{
    text-align: start;
    padding:3rem;
}


/* about section */

.about{
    margin: 4rem;
}

#about-me{
padding: 2rem;
}
.block{
    position: relative;
}


.left{
    height: 100px;
    width: 50%;
    background-color: #394867;
}

.right{
    height: 100px;
    width: 50%;
    background-color: #d3d3d3;
}
.internship{
    margin-top: 5rem;
}

/* Experience */


.intern-head {
    margin: 3rem;
}
.experience{
    margin-top: 4rem;
}



/* skills & certifications */

.skills{
    margin-top: 4rem;
}


li.skill-list.list-group-item {
    margin: 0 2rem;
}

li.skill-list.list-group-item:hover {
    transform: scale(102%);
    margin: 0 2rem;
}

.skills-list{
    margin: 2rem;
}

/* education */

.education{
    margin: 3rem;
}

.edu-content{
    margin: 2rem;
}

.content{
    cursor: pointer;
    margin: 1rem;
    padding: 1rem;
}

.content:hover{
    transform: scale(102%);
    background-color: #c6e4f7;
}